.logo {
    width: 180px;
    height: auto;
    margin-left: 8px;
    padding: 0;
}

.logo:hover {
    cursor: pointer;
}

.appbar {
    background-color: white !important;
    height: 64px !important;
}

.tab-text {
    font-weight: 600;
    font-size: 18px;
    padding: 0px 6px;
    /* margin: 0!important; */
}

.tab {
    color: #1f262d!important;
    text-transform: unset !important;
    height: 64px !important;

}

.tab:hover {
    background-color: #f2f3f5!important;
    /* color: #32c1d5 !important; */
}

.tabs-container{
    margin-left: auto;
    margin-right: 30px;
}