.event-page-container {
    
    /* width: 100%; */
    padding: 100px 341px 40px;
    background-color: #ededf0;
    /* display: block; */
}

.event-container {
    background-color: white;
    height: 100%;

    border-radius: 20px;
    /* margin-top: 200px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.image-event {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    
}

.event-title {
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 20px; */
}

.event-title h2{
    color: #2a2a2a;
}

.event-icon-info{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.ticket-button-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 40px;
}

.button-text-tickets {
    color: white;
    font-weight: 600 !important;
    
}

.ticket-button {
    width: 197px;
    height: 37px;
    background-color: #00ab44 !important;
    box-shadow: none !important;
}

.ticket-button:hover {
    background-color: #008535 !important;

}

.event-desc {
    margin: 30px 20px;
}

.event-desc p {
    color: #2a2a2a;
}

.event-alert {
    padding: 0px 20px 20px !important;
    border: 1px
}

.ticket-modal {
    /* background-color: white !important; */
    border: 1px solid #252525 !important;
}

.book-ticket-button:hover{
    background-color: #008535 !important;
}

.book-ticket-button {
    /* margin-top: 30px !important; */
    background-color: #00ab44 !important;
    box-shadow: none !important;
    color: white !important;
    width: 100%;
    border-radius: 20px !important;
}

.tf-ticket-stack {
    margin-top: 40px !important;
}

.modal-title {
    font-family: pf_highway_sans_pro_mediumRg, arial, sans-serif;
    color: #0d101a;

    font-weight: 600 !important;
}

.modal-text {
    color: #0d101a;
}

.ticket-modal {
    border-radius: 20px;
    border: none !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.modal-number-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.ticket-number-tf {
    width: 100%;
}

.ticket-number-tf-container {
    width: 140px;
}

@media screen and (min-width: 941px) and (max-width: 1600px) {
    .event-page-container {
    
        /* width: 100%; */
        padding: 100px 110px 40px;
        background-color: #ededf0;
        /* display: block; */
    }

    
}

@media screen and (min-width: 400px) and (max-width: 940px) {
    .event-page-container {
    
        /* width: 100%; */
        padding: 100px 10px 40px;
        background-color: #ededf0;
        /* display: block; */
    }

    .event-title {
        margin: 0px 20px;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-areas:    "event-page-title info-icons"
                                "button button";
        /* gap: 20px; */
    }

    .event-title {
        grid-area: event-page-title;
    }

    .event-icon-info {
        grid-area: info-icons;
    }
    
    .ticket-button-container {
        grid-area: button;
        padding: 0px 0px 20px;
    }

    .ticket-button {
        width: 100%;
    }
    
}