.search-page-container {
    height: 100%;
}

.search-page-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.search-page-container h1 {
    color: #2a2a2a;
    font-size: 25px;
}

.search-grid-container {
    margin-top: 20px;
}

.search-page-searchbar-container {
  /* padding: 0px 140px 0px 0px; */
    width: 600px;
    padding: 10px 0px;
}

.searchbar{
    /* padding: 0px 500px 0px 0px; */
    width: 100%;
    background-color: #f1f1f1 !important;
    border-radius: 20px !important;
    /* width: 80% !important; */
    color: black !important;
    outline: none !important;
}

.search-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 200px;
}

.search-empty-results-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
}

.no-results-message{
    color: #979797;

}

@media screen and (max-width: 1190px) {

    .search-page-searchbar-container {
    /* padding: 0px 140px 0px 0px; */
        width: 600px;
        padding: 10px 10px;
    }
}

